MONGODB_URI=mongodb://localhost:27017/dbname
MONGOLAB_URI=mongodb://localhost:27017/dbname

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=
MAILGUN_PASSWORD=

SENDGRID_USER=
SENDGRID_PASSWORD=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

TWITTER_KEY=
TWITTER_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

INSTAGRAM_ID=
INSTAGRAM_SECRET=
